html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #C0BCB5;
}

h1 {
	margin-bottom: 15px;
	margin-left: 10px;
}

h2 {
	margin: 10px;
}

form {
	display: table;
	margin: 10px;
}

p {
	display: table-row;
	margin-left: 10px;
	font-size: 18px;
}

label {
	display: table-cell;
	padding-right: 5px;
}

input {
	display: table-cell;
	border: solid black 1px;
}

.bookBlock {
	display: flex;
	margin: 15px;
}

.bookInfo {
	margin-left: 30px;
	display: block;
}

.navigation {
	display: inline-block;
	margin: 0px;
	margin-left: 3px;
}

.resultColumn {
	float: left;
	width: 75%;
	background-color: white;
	height: 100%;
	display: inline-table;
}

.resultColumn p {
	display: block;
	margin-left: 10px;
}

.infoColumn {
	float: left;
	width: 25%;
	min-width: 350px;
}